<div style="text-align:center;">
    <input type="button" class="button" value="Generate Numbers" onclick="getPBNums()"/>
    <div class="numbers">
        <p class="circle" id="PB1">  </p>
        <p class="circle" id="PB2">  </p>
    </div>
    <div class="numbers">
        <p class="circle" id="PB3">  </p>
        <p class="circle" id="PB4">  </p>
    </div>
    <div class="numbers">
        <p class="circle" id="PB5">  </p>
        <p class="specialCircle" id="PB6">  </p>
    </div>
</div>
<div  style="text-align:center;">
    <input type="button" class="button" value="Generate Numbers" onclick="getMegaNums()" />
    <div class="numbers">
        <p class="circle" id="MG1">  </p>
        <p class="circle" id="MG2">  </p>
    </div>
    <div class="numbers">
        <p class="circle" id="MG3">  </p>
        <p class="circle" id="MG4">  </p>
    </div>
    <div class="numbers">
        <p class="circle" id="MG5">  </p>
        <p class="circle" id="MG6">  </p>
    </div>
</div>